<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <form method="post" action="/contact" >  <!---action me hmesa route specify krnge -->
            <!-- <p>Hello <%= locals %></p> //to pass the dynamic data  -->
            <h1>Contact Now</h1>
            <input type="text" name="name" placeholder="Name"/>
            <input type="email" name="email" placeholder="Email" />
            <button type="submit">Submit</button>
        </form>
    </main>
</body>

<script src="script.js"></script>
</html>